*{
    margin:0;
    padding:0;
}
@media (max-width: 768px) {
    .Nav-links {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      text-align: center;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-200px); /* Initially hidden */
    }
  
    .nav-open {
      transform: translateY(0); /* Slide down when open */
    }
  
    .nav-closed {
      transform: translateY(-200px); /* Hide when closed */
    }
  }